
@media (max-width: 767px){
	#items .fa-plus-square{
	position: absolute;
	z-index: 999;
	top: -3px;
	right: -3px;
	width: 47px;
	height: 50px;
	font-size: 50px;
	padding: 0;
	margin: 0;
}

@media (max-width: 575px){

	#item .container .row{
		vertical-align: middle;
	}
	.log-cart, .sort{
	  position: relative;
	  min-height: 1px;
	  padding-right: 15px;
	  padding-left: 15px;
	  width: 50%;
	  font-size: 25px;
	}
	.log-cart i{
		padding: 10px;
		margin-top: 8px;
	}
	.log-cart i:firstchild{
		width: 30px;
		height: auto;
	}


@media (max-width: 290px){
	.log-cart{
		display: none;
	}
	.sort{
		width: 100%;
	}
	.superSmall{
		display: block;
		margin: 10px 0;
		height: 50px;
		width: 100%;
		padding: 10px;
	}
	.superSmall, .sort{
		text-align: center;
	}

	.superSmall v-r{
		padding: 0 10px;
	}
	#boughtMobile{
		font-size: 25px;
		right: 5px;
		bottom: 5px;
		vertical-align: middle;
		line-height: 25px;
		width: 50px;
		background-color: orange;
		position: relative;
		z-index: 999;
		color: white;
		border-radius: 50%;
		overflow: auto;
	}
	.superSmall i {
		width: 50px;
		height: 50px;
		font-size: 25px;
	}
