html, body{
	margin: 0;
	padding: 0;
}

img{
	height: auto;
	width: 100%;
	padding: 10px 2px;
	display: inline-block;

}

.container{
	margin: 50px 0;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

#sort{
	margin-bottom: 70px;
}
.price{
	position: absolute;
	right: 10px;
}
#items h2{
	margin-bottom: 50px;
	font-size: 20px;
}
.item{
	display: inline-block;
}
.money{
	display: relative;
}
.transition{
	-webkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	transition: all .9s ease-in-out;
}
