html, body{
	margin: 0;
	padding: 0;
}

.container{
	margin: 50px 0;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

#sort{
	margin-bottom: 70px;
}

.item{
	display: inline-block;
	-webkit-transition: all 0.2s ease-in ;
	-moz-transition: all 0.2s ease-in ;
	transition: all 0.2s ease-in ;
}
.itemImageHolder{
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}
#items img{
	height: auto;
	width: 100%;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in ;
	-moz-transition: all 0.2s ease-in ;
	transition: all 0.2s ease-in ;
}
.item:hover{
	opacity: 0.5;
}
.item:hover img{
	transform: scale(1.1);
}
.price{
	position: absolute;
	right: 10px;
}
#items h2{
	margin-bottom: 50px;
	font-size: 20px;
}
.money{
	display: relative;
}
.hide{
	opacity: 0;
}

